.actions {
    display: flex;
    justify-content: center;
}

.grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 140px);
    grid-gap: 20px;
}

.card {
    height: 140px;
    width: 140px;
    position: relative;
    cursor: pointer;
}

.front-image {
    width: 60px;
    height: 60px;
}

.card.flipped {
    transform: rotateY(180deg);
}

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
}

.card .front {
    display: flex;
    justify-content: center;
    align-content: center;
    transform: rotateY(180deg);
}

